:root {
  --color-primary: #0466c8;
  --color-white: #f8f9fa;
  --color-red: #D92A1E;
  --color-green: #C5D91E;
  --footer-height: 150px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  border: 1px solid black;
}

footer {
  height: var(--footer-height);
}

#cartWidget {
  position: absolute;
  right: 20px;
}

.cartWidgetLink {
  height: 40px;
}

.background-color-primary {
  background-color: var(--color-primary);
}

.background-color-green {
  background-color: var(--color-green);
}

.text-color-primary {
  color: var(--color-primary);
}

.arrow-up {
  position: absolute;
  top: -10px;
  right: 8px;
  width: 0; 
  height: 0; 
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  
  border-bottom: 16px solid var(--color-white);
}

a.active {
  font-weight: bold;
}

.card {
  width: 18rem;
}

.imgSmall {
  width: 100px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.mainContainer {
  min-height: calc(100vh - var(--footer-height));
}

.cartProductRow:not(:last-child) {
  border-bottom: 2px solid gray;
}

.cartProductRow button {
  color: var(--color-red);
}

.cartProductRow button:hover {
  color: var(--color-red);
  filter: brightness(120%);
}

.cartProductRow button:focus {
  box-shadow: none;
}

.cartProductRowHeader {
  border-bottom: 4px solid var(--color-green);
}

.cartCounter {
  width: 20px !important;
  height: 20px !important;
  font-size: 12px;
  position: relative;
  right: 12px;
  top: 10px;
}

/* Loader */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color-primary) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}